{% extends 'core/base.html' %} 

{% load humanize %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <h1 class="title">{{ user.username }}</h1>

                {% if user.chatterprofile.avatar %} 
                <figure class="image is-128x128">
                    <img src="{{ user.chatterprofile.avatar.url }}">
                </figure>
                {% endif %} 

                <hr>

                <p><a href="{% url 'followers' user.username %}">Followers: {{user.chatterprofile.followed_by.count }}</a></p>
                <p><a href="{% url 'follows' user.username %}">Follows: {{ user.chatterprofile.follows.count }}</a></p>

                {% if user != request.user %} 
                    <a href="{% url 'conversation' user.id %}" class="button is-info">Send Message</a>

                    {% if request.user.chatterprofile in user.chatterprofile.followed_by.all %}  
                    <a href="{% url 'unfollow_chatter' user.username %}" class="button is-danger">Unfollow</a>
                    {% else %}
                    <a href="{% url 'follow_chatter' user.username %}" class="button is-success">Follow</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="columns">
            <div class="column is-8">
                <div class="wrapper-chatters">
                    {% for chat in chatters %} 
                        <div class="chat">
                            <article class="media">
                                <figure ckass="media-left">
                                    <p class="image is-64x64">
                                        {% if user.chatterprofile.avatar %} 
                                            <img src="{{ user.chatterprofile.url }}">
                                        {% endif %}
                                    </p>
                                </figure>

                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>{{ chat.created_by_username }}</strong>
                                            <small>{{ chat.created_at|naturaltime }}</small>
                                            <br>
                                            {{ chat.body }}
                                            <br>
                                            <a @click="likeChat({{ chat.id }})" v-if="!liked_chats.includes({{ chat.id}})">Like</a>
                                            <span v-if="liked_chats.includes({{ chat.id }})">Liked</span>
                                            <small id="likes-{{ chat.id }}">{{ chat.likes.count }} likes</small>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %} 
<script>
    new Vue({
        el: '#chatterprofileapp',
        delimiters: ['[[',']]'],
        data() {
            return {
                liked_chats: '[{% for chat in chatters %}{% if chat.liked %}{{ chat.id }},{% endif %}{% endfor %}]'
            }
        },
        methods: {
            likeChat(chat_id) {
                this.liked_chats.push(parseInt(chat_id));

                var chat = {
                    'chat_id': chat_id
                };

                fetch('/api_/add_like/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(chat)
                })
                .then((response) => {
                    console.log(response);
                })
                .catch((error) => {
                    console.log(error);
                });

                const el = document.getElementById('likes-' + chat_id);
                const likes = parseInt(el.innerHTML.split(' ')[0] + 1);
                el.innerHTML = likes + ' likes'; 
            }
        }
    })
</script>
{% endblock %}